.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 24px;
  font-weight: 500;
  height: 45px;
}

.card-inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  color: rgba(83, 84, 85, 0.74);
  font-weight: bolder;
}
.image-style {
  width: 3em;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 52, 56, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
}

.card-img-top {
  width: 80%;
  height: 15vw;
  object-fit: contain;
  margin: auto;
}

.image-title {
  font-size: 1em;
  font-weight: 300;
}
.image-description {
  font-size: 1em;
  margin: 0.25em;
  padding: 1em;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .image-title {
    font-size: 2em;
    font-weight: 500;
  }
  .image-description {
    font-size: 1.5em;
    margin: 0.25em;
    padding: 1em;
    text-align: center;
  }
}
